# Virtual environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore egg-info directories inside src/ folder
src/**/*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Ignore specific PNG files in images folders
# **/images/*.png
# **/img_to_read/*.png
# **/template_img/*.png

# Ignore all PNG files
**/*.png
# Ignore egg-info directories in the root and inside the src/ folder
*.egg-info/
src/**/*.egg-info/


